<div class="text-center">
  <h1>問題の新規作成</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @quiz, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :question, '問題内容' %>
        <%= f.text_area :question, class: 'form-control' %>
        
        <%= f.label :answer, '解答' %>
        <%= f.text_area :answer, class: 'form-control' %>
        
        <%= f.label :explanation, '解説' %>
        <%= f.text_area :explanation, class: 'form-control' %>
        
        <%= f.collection_select :folder_id, @folders, :id, :content, include_blank: false  %>
      </div>

      <%= f.submit '作成', class: 'btn btn-primary btn-block' %>
    <% end %>
    <%= link_to 'TOPに戻る', root_path, class: "btn btn-primary mt-5" %>
  </div>
</div>
