<div class="mb-1">
  <% if current_user.favfolder?(folder) %>
    <%= form_for(current_user.favorites.find_by(folder_id: folder.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :folder_id, folder.id %>
      <%= f.submit 'お気に入り解除', class: 'btn btn-danger' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.favorites.build) do |f| %>
      <%= hidden_field_tag :folder_id, folder.id %>
      <%= f.submit 'お気に入り登録', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>