<ul class="list-unstyled">
  <% folders.each do |folder| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= link_to folder.user.name, user_path(folder.user) %> <span class="text-muted">posted at <%= folder.created_at %></span>
        </div>
        <div class="inline-block">
          <p><%= link_to folder.content, folder_path(folder) %></p>
          <% if current_user == folder.user %>
            <%= link_to '編集', edit_folder_path(folder), class: "btn btn-primary" %>
            <%= link_to "削除", folder, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate folders %>
</ul>