

<h1 class="text-center"><%= @folder.content %></h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-unstyled">
        <% @folder.quizzes.each do |quiz| %>
          <li class="media mb-3">
            <div class="media-body">
              <div>
                <p class="border" style="background-color:#dddddd;">問題</p>
                <p><%= quiz.question %></p>
                <p class="border" style="background-color:#dddddd;">解答</p>
                <p><%= quiz.answer %></p>
                <p class="border" style="background-color:#dddddd;">解説</p>
                <p><%= quiz.explanation %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= link_to 'TOPに戻る', root_path, class: "btn btn-primary" %>