<div class="text-center">
  <h1>フォルダの新規作成</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @folder, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :content, 'フォルダ名' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.submit '作成', class: 'btn btn-primary btn-block' %>
    <% end %>
    <%= link_to 'TOPに戻る', root_path, class: "btn btn-primary mt-5" %>
 </div>
</div>