<h1 class="text-center mb-5">〜使い方〜</h1>
<p>①まずはTOPにある以下のボタンをクリックしてフォルダを作成しましょう。</p>
<div class="image">
  <%= image_tag 'how1.jpg', :size => '500x150' %>
</div>
<p class="mt-4">②以下の画面に遷移するので、フォルダ名を入力後「作成」をクリックしましょう。</p>
<div class="image">
  <%= image_tag 'how2.jpg', :size => '400x400' %>
</div>
<p class="mt-4">③フォルダが作成されると以下のように表示されます。次は問題を作成しましょう。</p>
<div class="image">
  <%= image_tag 'how3.jpg', :size => '650x400' %>
</div>
<p class="mt-4">④下の画像は問題の作成画面です。解説のみ空欄でも作成することができます。</p>
<div class="image">
  <%= image_tag 'how4.jpg', :size => '400x600' %>
</div>
<p class="mt-4">⑤あとは問題を増やしていくだけです！ある程度作成できたら問題を解いてみましょう。</p>
<p>他の人が作った問題も解くことができるので、是非チャレンジしてみてください♪</p>
<%= link_to 'TOPに戻る', root_path, class: "btn btn-primary mt-5" %>